*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    .open-sans-uniquifier {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
          "wdth" width;
    }
    .open-sans-uniquifier {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "wdth" width;
    }
    .open-sans-uniquifier {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
          "wdth" width;
      }
}

.contenedor{
    width: 90;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(94, 231, 222, 0.514) 0%, rgba(180, 144, 202, 0.473) 100%), url(../img/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}